.root {
    -fx-background-color: papayawhip;
}
.left {
    -fx-fill: radial-gradient(center 50% 16%, radius 50%, reflect, papayawhip, burlywood 80% );
}
.right {
    -fx-fill: radial-gradient(center 50% 16%, radius 50%, reflect, papayawhip, sienna 80% );
}
.rail {
    -fx-fill: linear-gradient(sienna, burlywood 25%, saddlebrown 50%)
}
.text {
    -fx-fill: white;
}
